name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types:
      # Defaults
      - opened
      - synchronize
      - reopened
      # Draft->ready
      - ready_for_review
      # Edit the title or top comment
      - edited

jobs:
  precommit:
    name: Precommit checks
    runs-on: ubuntu-latest
    # - Run on all non-PR events we subscribe to.
    # - DON'T run on draft PRs.
    # - DON'T run if the PR has "[draft]" in its title
    #   (we use this, for instance, in private repos that don't have access to "real" draft PRs)
    if: ${{ !github.event.pull_request || !github.event.pull_request.draft || !contains(github.event.pull_request.title, '[draft]') }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      # When dogfooding ourselves, target main branch to avoid chasing tags
      - uses: griceturrble/precommit-checks-action@main
        with:
          suggest_fixes: "true"
